sGrid/Service References/sGridClientApi/ClientApi4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/sGrid" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/sGrid" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credential" nillable="true" type="tns:Credential" />
  <xs:complexType name="ProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GridProject" nillable="true" type="tns:SerializableGridProjectDescription" />
      <xs:element minOccurs="0" name="GridToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectData" nillable="true" type="tns:ProjectData" />
  <xs:complexType name="SerializableGridProjectDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebsiteUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkspaceUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializableGridProjectDescription" nillable="true" type="tns:SerializableGridProjectDescription" />
  <xs:complexType name="StatusMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authentication" nillable="true" type="tns:Credential" />
      <xs:element minOccurs="0" name="ProjectShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusMessage" nillable="true" type="tns:StatusMessage" />
  <xs:simpleType name="TestResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Correct" />
      <xs:enumeration value="WrongCredential" />
      <xs:enumeration value="OldClientVersion" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TestResult" nillable="true" type="tns:TestResult" />
</xs:schema>